# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/

# Ignore Jupyter checkpoints (if any)
.ipynb_checkpoints/

# Ignore VSCode config (optional)
.vscode/

node_modules/
build/
dist/
.DS_Store
*.log

cc.fr.300.bin
cc.fr.300.bin.gz

models/saved/
models/*.bin

*.json
*.pkl
*.h5
*.bin
*.npy

File models/optimized_bert_sentiment_model/best_model/variables/variables.data-00000-of-00001
